<div class="signup_container">
  <div class="signup_form_container">
    <div class="left">
      <h1>Welcome Back</h1>
      <button type="button" class="white_btn" [routerLink]="'/login'">
        Login
      </button>
    </div>
    <div class="right">
      <form class="form_container">
        <input
          type="user_name"
          [(ngModel)]="newUserData.user_name"
          class="input"
          name="user_name"
          placeholder="Username"
          required
        />

        <input
          type="first_name"
          [(ngModel)]="newUserData.first_name"
          class="input"
          name="first_name"
          placeholder="First Name"
          required
        />

        <input
          type="last_name"
          [(ngModel)]="newUserData.last_name"
          class="input"
          name="last_name"
          placeholder="Last Name"
          required
        />

        <input
          type="contact_no"
          [(ngModel)]="newUserData.contact_no"
          class="input"
          name="contact_no"
          placeholder="Contact Number"
          required
        />

        <input
          type="email"
          [(ngModel)]="newUserData.email"
          class="input"
          name="email"
          placeholder="Email"
          required
        />

        <input
          type="password"
          [(ngModel)]="newUserData.password"
          class="input"
          name="password"
          placeholder="Password"
          required
        />

        <input
          type="confirm_password"
          [(ngModel)]="confirm_password"
          class="input"
          name="confirm_password"
          placeholder="Confirm Password"
          required
        />

        <select name="sec_ques" id="sec_ques" [(ngModel)]="newUserData.sec_ques" class="dropdown">
          <option value="" disabled selected>Select a question</option>
          <option *ngFor="let question of questions" [value]="question">
            {{ question }}
          </option>
        </select>

        <input
          type="sec_ans"
          [(ngModel)]="newUserData.sec_ans"
          class="input"
          name="sec_ans"
          placeholder="Security Answer"
          required
        />

        <div *ngIf="error" class="error_msg">{{ error }}</div>
        <button type="submit" class="green_btn" (click)="signupUser()">Sign Up</button>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
